<div class="flex w-full mt-6 mx-auto items-center justify-center gap-6">

  <!-- Botón Anterior -->
  <button type="button"
    class="flex gap-2 px-4 py-2 bg-white text-gray-600 text-base rounded-lg transition-all hover:scale-105 hover:brightness-110"
    (click)="irAnterior()">
    <img src="assets/elementos/atras.svg" alt="Atrás"
      class="w-6 h-6 transition-colors duration-300 hover:brightness-120" />
    Anterior
  </button>

  @if (posicion() !== 'ultima') {
  <!-- Botón Siguiente -->
  <button type="button"
    class="flex gap-2 px-4 py-2 bg-white text-gray-600 text-base rounded-lg transition-all hover:scale-105 hover:brightness-110"
    (click)="irSiguiente()">
    Siguiente
    <img src="assets/elementos/continuar.svg" alt="Siguiente"
      class="w-6 h-6 transition-colors duration-300 hover:brightness-120" />
  </button>
  }

</div>