<!-- Reglamento Base -->
<div class=" text-med bg-gray-100 font-medium text-black p-2 border border-gray-300 rounded-md text-center">
    <h6 class="text-azul-oscuro">1. Documento de soporte</h6>
</div>
@if (mostrarReglamentoBase()) {
<div class="bg-white/80 border border-gray-300 rounded-lg p-3 m-2">
    <div class="flex flex-col lg:flex-row gap-4 lg:items-start">
        <div class="flex flex-col gap-3">
            <div class="flex flex-col md:flex-row gap-3 items-stretch md:items-end lg:flex-none">
                <!-- Input -->
                <div class="flex-1 md:w-80 lg:w-80">
                    <label class="block text-sm font-medium text-gray-700 py-1">
                        Documento base
                    </label>
                    <input [ngModel]="nuevoDato()" (ngModelChange)="nuevoDato.set($event)"
                        (keyup.enter)="agregarReglamentoBase(); $event.preventDefault()"
                        class="w-full p-2 border border-gray-300 rounded placeholder-gray-400 disabled:bg-gray-100"
                        placeholder="Escribe el nombre del documento" />
                </div>
                <!-- Botón agregar -->
                <div class="flex items-end justify-center md:justify-start">
                    <button (click)="agregarReglamentoBase()" [disabled]="deshabilitarAgregar()"
                        class="text-black px-4 py-2 flex items-center justify-center gap-2 whitespace-nowrap disabled:opacity-70 ">
                        <img src="assets/elementos/agregar.svg" alt="Agregar" class="hover:brightness-120 w-6 h-6">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="flex flex-row px-5 py-2 justify-center md:justify-start">
                <button (click)="NotieneReglamentoBase()" [disabled]="deshabilitarNotiene()"
                    class="bg-encabezado-tabla text-md px-4 py-2 rounded hover:brightness-110 transition-colors text-white min-w-50 disabled:bg-gray-300 disabled:text-gray-500">
                    No tiene Reglamento Base
                </button>
            </div>
        </div>
        <!-- Tabla (debajo en md, al lado en lg) -->
        <div class="flex flex-1 flex-col overflow-x-auto">
            <app-tablas-formulario [columnas]="datosService.columnaReglamentoBase" [data]="datosReglamentoBase()"
                [accionesTemplate]="accionesReglamentoBase">
            </app-tablas-formulario>
            <ng-template #accionesReglamentoBase let-dato>
                <div class="flex items-center justify-center space-x-1 gap-2">
                    <button (click)="eliminarDato(dato)" class="px-1 w-6 h-6" title="Eliminar">
                        <img src="assets/elementos/eliminar.svg" alt="eliminar" class="hover:brightness-120 w-6 h-6">
                    </button>
                    @if (dato.documento !== 'No tiene Reglamento Base') {
                    <button (click)="editarDato(dato)" class="px-1 w-6 h-6" title="Editar">
                        <img src="assets/elementos/editar.svg" alt="editar" class="hover:brightness-120 w-6 h-6">
                    </button>
                    }
                </div>
            </ng-template>
        </div>
    </div>
</div>
}

<!-- Formulario / Tabla DAAC -->
@if (reglamentoBaseCompletado()) {
<div class="bg-white/80 border border-gray-300 rounded-lg p-3 m-2">
    @if (mostrarFormularioDAAC()) {
    <div class="w-full">
        <app-formreutilizable [titulo]="this.datosService.DescripcionCaracterizacion"
            [campos]=" datosService.columnasDAAC" [datoEditar]="editarformulario()"
            (guardar)="guardarDatosFormularioDAAC($event)" (cerrar)="cerrarFormularioDAAC()">
        </app-formreutilizable>
    </div>
    }
    @else if (formularioDAACCompletado()) {
    <div>
        <app-tabla-datos [data]="dataFormularioDAAC()" [columnas]="datosService.columnasDAAC"
            encabezadoGeneral="Tabla caracterización" [accionesTemplate]="accionesPersonalizadas">
        </app-tabla-datos>
        <ng-template #accionesPersonalizadas let-dato>
            <div class="flex items-center justify-center space-x-1">
                <button (click)="eliminarDatoFormularioDAAC(dato)" class="px-1 h-6 w-6" title="Eliminar">
                    <img src="assets/elementos/eliminar.svg" alt="eliminar" class=" hover:brightness-120 w-6 h-6" />
                </button>
                <button (click)="editarFormulario(dato)" class="px-1 h-6 w-6" title="Editar">
                    <img src="assets/elementos/editar.svg" alt="editar" class=" hover:brightness-120 w-6 h-6" />
                </button>
            </div>
        </ng-template>
    </div>
    }
</div>
}
<!-- Diagrama de Flujo -->
@if (reglamentoBaseCompletado() && formularioDAACCompletado()) {
<div class="bg-white/80 border border-gray-300 rounded-lg p-3 m-2 gap-4 ">
    <app-diagrama-de-flujo [procedimiento]="nombreProcedimiento()" [documentoId]="documentoId()!"
        (diagramaEnviado)="verificarActividadesDocumentoSoporte()" (cancelarDiagrama)="cancelarDiagrama()">
    </app-diagrama-de-flujo>
</div>
}