<div class="bg-white/80 border-1 border-gray-300 rounded-lg p-3 m-2 gap-4">

    @if (mostrarFormulario()) {
    <div class="w-full">
        <app-formreutilizable [campos]=" datosService.columnasDAAC" [titulo]="this.datosService.DescripcionDAAC"
            [datoEditar]="editarformulario()" (guardar)="guardarDatosFormularioDAAC($event)" (cerrar)="onCancelar()">
        </app-formreutilizable>
    </div>
    }
    @else {
    <div>
        <app-tabla-datos [data]="datosFiltrados" [columns]="datosService.columnasDAAC"
            encabezadoGeneral="Datos Formulario DAAC" [accionesTemplate]="accionesPersonalizadas">
        </app-tabla-datos>
        <ng-template #accionesPersonalizadas let-dato>
            <div class="flex items-center justify-center space-x-1">
                <button (click)="eliminarDatoFormularioDAAC(dato)" class="px-1 h-6 w-6" title="Eliminar">
                    <img src="assets/elementos/eliminar.svg" alt="eliminar" class=" hover:brightness-120 w-6 h-6" />
                </button>
                <button (click)="editarFormulario(dato)" class="px-1 h-6 w-6" title="Editar">
                    <img src="assets/elementos/editar.svg" alt="editar" class=" hover:brightness-120 w-6 h-6" />
                </button>
            </div>
        </ng-template>
    </div>
    }
</div>

@if (mostrarbase()) {

<div class="bg-white/80 border-1 border-gray-300 rounded-lg p-3 m-2">
    <div class="flex flex-col lg:flex-row gap-4 lg:items-start">
        <div class="flex flex-col gap-3">
            <div class="flex flex-col md:flex-row gap-3 items-stretch md:items-end lg:flex-none">
                <!-- Input -->
                <div class="flex-1 md:w-80 lg:w-80">
                    <label class="block text-sm font-medium text-gray-700 py-1">
                        Documento base
                    </label>
                    <input [(ngModel)]="nuevoDato" (keyup.enter)="agregarReglamentoBase(); $event.preventDefault()"
                        class="w-full p-2 border rounded placeholder-gray-400"
                        placeholder="Escribe el nombre del documento" />
                </div>
                <!-- Botón agregar -->
                <div class="flex items-end justify-center md:justify-start">
                    <button (click)="agregarReglamentoBase()"
                        class="text-black px-4 py-2 flex items-center justify-center gap-2 whitespace-nowrap">
                        <img src="assets/elementos/agregar.svg" alt="Agregar" class="hover:brightness-120 w-6 h-6">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="flex flex-row px-5 py-2 justify-center md:justify-start">
                <button
                    class="bg-encabezado-tabla text-white px-3 py-2 rounded hover:brightness-110 transition-colors duration-300 min-w-50">
                    No tiene Reglamento Base
                </button>
            </div>
        </div>
        <!-- Tabla (debajo en md, al lado en lg) -->
        <div class="flex flex-1 flex-col overflow-x-auto">
            <app-tablas-formulario [columns]="columnaDocumentoBase" [data]="datosDocumentoBase()"
                [accionesTemplate]="accionesDocumentoBase" (eliminar)="eliminarDato($event)">
            </app-tablas-formulario>
            <ng-template #accionesDocumentoBase let-dato>
                <div class="flex items-center justify-center space-x-1 gap-2">
                    <button (click)="eliminarDato(dato)" class="px-1 w-6 h-6" title="Eliminar">
                        <img src="assets/elementos/eliminar.svg" alt="eliminar" class="hover:brightness-120 w-6 h-6">
                    </button>
                    <button (click)="editarDato(dato)" class="px-1 w-6 h-6" title="Editar">
                        <img src="assets/elementos/editar.svg" alt="editar" class="hover:brightness-120 w-6 h-6">
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
}

<div class="bg-white/80 border-1 border-gray-300 rounded-lg p-3 m-2 gap-4 ">
    @if(realizarDiagrama()){
    <div class="flex items-center justify-center">
        <button (click)="abrirDiagrama()
        " class="bg-verde-btn hover:bg-verde-btn/90 text-white px-4 py-2 rounded">
            Realizar Diagrama de Procedimiento
        </button>
    </div>
    }
    @if(mostrarDiagrama()) {
    <app-diagrama [procedimiento]="nombreProcedimiento()" [documentoId]="documentoId"
        (diagramaEnviado)="recibirvalor($event)" (cancelarDiagrama)="cancelarDiagrama()">
    </app-diagrama>
    }
</div>

@if(descargarDocumento()){
<div class="flex items-center justify-center gap-4 m-2">
    <button (click)="descargarPDF()" class="px-4 py-2 bg-azul-oscuro text-white rounded hover:bg-azul-fondo">
        Descargar Documento DAAC
    </button>
</div>
}