<section class="mt-2 text-md">
    <h6 class="text-xl text-center">Tabla 3: Clasificación de estado de procedimientos</h6>
    <div class="p-2 overflow-x-auto mx-auto">
        <table class="w-full max-w-[600px] mx-auto border border-gray-300 text-peq border-collapse">
            <thead class="bg-encabezado-tabla text-white">
                <tr>
                    <th colspan="6" class="px-2 py-2 uppercase tracking-wider text-center font-medium">Criterios
                    </th>
                </tr>
                <tr>
                    @for (encabezado of DatosService.encabezadosClasificacion; track encabezado) {
                    <th class="px-2 py-2 text-center uppercase tracking-wider border border-gray-300 font-medium">
                        {{encabezado }}</th>
                    }
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @for (tabla of DatosService.tablaClasificacion;
                track tabla) {
                <tr class="hover:bg-gray-100">
                    <td class="px-1 py-1 border border-gray-300 uppercase font-medium">{{tabla.col1
                        }}</td>
                    <td class="px-1 py-1 border border-gray-300 uppercase font-medium">{{tabla.col2
                        }}</td>
                    <td class="px-1 py-1 border border-gray-300 text-center">{{tabla.col3
                        }}</td>
                    <td class="px-1 py-1 border border-gray-300 text-center">{{tabla.col4
                        }}</td>
                    <td class="px-1 py-1 border border-gray-300 text-center">{{tabla.col5
                        }}</td>
                    <td class="px-1 py-1 border border-gray-300 text-center">{{tabla.col6
                        }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>