PORT=3000
FRONTEND_URL=http://localhost:4200

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=udenar123
DB_DATABASE=estandarizacion_de_procedimientos

# Configuración de Supabase Storage
# Reemplaza estos valores con las credenciales de tu panel de Supabase.com
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu-api-key-supabase-service-role
