<div class="px-4 py-2">
    <div class="bg-white/80 rounded-lg p-2">
        <div class="mb-4 leading-relaxed text-grande">
            <strong class="block mb-2">1. Documento soporte</strong>
            <p> Para el Criterio documento de soporte el procedimiento a
                estandarizar debe contar con documentación que permita
                exponer claramente la manera como se desarrolla,
                siguiendo las normativas de la Universidad de Nariño,
                para ello se puede tener en cuenta soportes
                documentales como acuerdos, resoluciones, actas, manuales,
                formatos, plantillas y el procedimiento. Esta
                información la encuentra en el módulo de recolección de
                información. </p>
            <p class="mt-2"> Para lo anterior, se debe indagar sobre los
                documentos institucionales de reglamento y complementar el
                formato de procedimiento. Este formato es brindado por el
                Sistema Integrado de Gestión de Calidad
                (SIGC) de la Universidad de Nariño, y permite indicar la forma
                específica de llevar a cabo un procedimiento;
                este formato consta de dos parte que son las siguientes: </p>
            <ul class="list-inside space-y-1 mb-4 ml-2 list-disc">
                <li><strong> Caracterización: </strong> El cual
                    es un formulario que contiene datos sobre el procedimiento.
                </li>
                <li><strong> Diagrama de flujo: </strong> Donde
                    se describe los pasos a seguir para llevar a cabo elprocedimiento.
                </li>
            </ul>
        </div>
        <div class="mb-4 leading-relaxed text-grande">
            <strong class="block mb-2">2. Soporte computacional</strong>
            <p> Algunos procedimientos requieren apoyo de herramientas
                computacionales para optimizar su ejecución.
                Cabe resaltar que esta no es una condición estricta para
                considerar a un procedimiento en estado completo, sin
                embargo, es importante proponer este tipo de soluciones
                que ayudan a mejorar notablemente el desarrollo de los
                procedimientos.
            </p>
            <p> El procedimiento seleccionado puede contar o no
                con un sistema computacional de soporte. Si existe este
                soporte computacional, se recomienda evaluar el desempeño
                del mismo de acuerdo conlos resultados que se obtienen al ejecutar
                el procedimiento, y de ser necesario, proponer mejoras a la herramienta.
                Por otra parte, si el procedimiento requiere un soporte computacional,
                debe cumplir con las directrices institucionales que rigen
                en las dependencias encargadas del desarrollo tecnológico.</p>
        </div>
        <div class="mb-4 leading-relaxed text-grande">
            <strong class="block mb-2">3. Reglamento</strong>
            <p class="mt-2">
                Para que un procedimiento sea reglamentado, se debe
                presentar el procedimiento estandarizado a
                la División de Autoevaluación, Acreditación y Certificación (DAAC)
                de la Universidad de Nariño, para su revisión y visto bueno,
                donde se avala que la definición del procedimiento cumple
                con los lineamientos de calidad de la Universidad y posteriormente,
                se revisa el formato de estandarización del procedimiento
                para su respectiva validación.
            </p>
        </div>
    </div>
    @if (recoleccion()) {
    <div class="bg-white/80 border border-gray-300 rounded-xl p-4 m-2 animate-fade-in">
        <div class="mb-4 leading-relaxed text-grande">
            <strong class="block mb-2 text-azul-oscuro border-b border-gray-100 pb-1">Recolección de
                información</strong>
            <p class="mt-3 p-3  rounded-lg  whitespace-pre-wrap text-gray-800">
                {{ recoleccion()?.encuesta }}
            </p>
        </div>

        <div class="flex flex-col sm:flex-row justify-end gap-3 mt-4">
            <button (click)="eliminarRecoleccion()"
                class="flex items-center justify-center gap-2 m-1 w-full sm:w-auto bg-gray-100 hover:bg-gray-200 border border-gray-300 text-gray-800 px-5 py-2 rounded-lg transition-all duration-300 shadow-sm hover:shadow-md transform hover:-translate-y-0.5 active:translate-y-0">
                <span class="font-medium">Eliminar información</span>
                <img src="assets/elementos/eliminar.svg" alt="Eliminar" class="w-4 h-4" />
            </button>
            <button (click)="editarRecoleccion()"
                class="flex items-center justify-center gap-2 m-1 w-full sm:w-auto bg-gray-100 hover:bg-gray-200 border border-gray-300 text-gray-800 px-5 py-2 rounded-lg transition-all duration-300 shadow-sm hover:shadow-md transform hover:-translate-y-0.5 active:translate-y-0">
                <span class="font-medium">Editar recolección</span>
                <img src="assets/elementos/editar.svg" alt="Editar" class="w-4 h-4" />
            </button>
        </div>
    </div>
    }
</div>