<!-- MENÚ LATERAL -->
<aside class="text-justify bg-azul-fondo h-[calc(100vh-12rem)] overflow-y-auto w-56">
  <div
    class="text-med font-sans flex justify-center items-center p-2 bg-azul-oscuro text-white font-bold border-b border-white/20">

    <a routerLink='/' class="text-white no-underline hover:font-medium">Menú principal</a>
  </div>

  <ul class="flex flex-col p-0 space-y-0.1 space-x-0.2 text-med">
    <li class="list-none">
      <button routerLink="/acercadeestandarizacion"
        routerLinkActive="text-white border-l-3 border-amber-400 bg-gradient-to-r from-green-700 to-green-900 w-full"
        class="flex items-center gap-1 py-2 text-left menu-button no-underline min-h-8">
        <img src="assets/icons/acerca-de.svg" alt="acerca de estandarización de procedimientos" class="w-10 h-10" />
        <span class="font-sans"><strong class="font-medium">1.</strong> Acerca de estandarización de
          procedimientos</span>
      </button>
    </li>

    <li class="list-none">
      <button routerLink="/recoleccioninformacion"
        routerLinkActive="text-white border-l-3 border-amber-400 bg-gradient-to-r from-green-700 to-green-900 w-full"
        class="flex items-center gap-1 py-2  text-left menu-button no-underline min-h-8">
        <img src="assets/icons/informacion.svg" alt="Recolección de información" class="w-10 h-10" />
        <span class="font-sans"><strong class="font-medium">2.</strong> Recolección de información</span>
      </button>
    </li>

    <li class="list-none">
      <a routerLink="/identificacionrequerimientos"
        routerLinkActive="text-white border-l-3 border-amber-400 bg-gradient-to-r from-green-700 to-green-900 w-full"
        class="flex items-center gap-1 py-2 text-left menu-button no-underline min-h-8">
        <img src="assets/icons/identificacion.svg" alt="Identificación de procedimientos" class="w-10 h-10" />
        <span class="font-sans"><strong class="font-medium">3.</strong> Identificación de requerimientos</span>
      </a>
    </li>

    <li class="list-none">
      <button routerLink="/socializacionprocedimientos" (click)="ListaProcedimientos()"
        routerLinkActive="text-white border-l-3 border-amber-400 bg-gradient-to-r from-green-700 to-green-900 w-full"
        class="flex items-center gap-1 py-2 text-left menu-button no-underline min-h-8">
        <img src="assets/icons/socializacion.svg" alt="Socialización de procedimientos" class="w-10 h-10" />
        <span class="font-sans"><strong class="font-medium">4.</strong> Socialización de procedimientos</span>
      </button>
    </li>

    <li class="list-none">
      <button routerLink="/manualusuario"
        routerLinkActive="text-white border-l-3 border-amber-400 bg-gradient-to-r from-green-700 to-green-900 w-full"
        class="flex items-center gap-1 py-2 text-left menu-button no-underline min-h-8">
        <img src="assets/icons/manual.svg" alt="Manual de Usuario" class="w-10 h-10" />
        <span class="font-sans"><strong class="font-medium">5.</strong> Manual de usuario</span>
      </button>
    </li>
  </ul>
</aside>