<div #mainContainer class="w-full max-w-full relative">
    <div class="flex flex-col xl:flex-row w-full items-start">
        <!-- Sidebar / Top Menu -->
        <aside
            class="w-full xl:w-64 p-4 sticky top-0 xl:self-start h-auto xl:max-h-[calc(100vh-150px)] overflow-y-auto bg-white z-30 flex-shrink-0 custom-scrollbar">
            <h5 class="text-grande font-bold text-center">Diagrama de flujo</h5>
            <hr class="my-2">
            <div class="relative group">
                <!-- contenedor que tiene botones + card -->
                <nav class="mt-2">
                    <div class="flex flex-row xl:flex-col gap-2 flex-wrap">
                        @for (boton of botones; track $index) {
                        <button (click)="boton.accion()" (mouseenter)="mostrarTooltip($event, boton)"
                            (mouseleave)="ocultarTooltip()"
                            class="flex-1 min-w-[120px] bg-gray-100 border border-gray-500 hover:bg-gray-200 hover:border-gray-700 text-black px-3 py-2 rounded text-semigrande transition-all duration-200">
                            {{ boton.nombre }}
                        </button>
                        }
                        <button type="button" (click)="agregarPagina()"
                            class="flex-1 min-w-[120px] bg-gray-100 border border-gray-500 hover:bg-gray-200 hover:border-gray-700 text-black px-3 py-2 rounded text-semigrande transition-all duration-200">
                            Agregar Página
                        </button>
                        <button type="button" (click)="eliminarUltimaPagina()"
                            class="flex-1 min-w-[120px] bg-gray-100 border border-gray-500 hover:bg-gray-200 hover:border-gray-700 text-black px-3 py-2 rounded text-semigrande transition-all duration-200">
                            Eliminar Ultima Página
                        </button>
                        <hr class="hidden xl:block w-full my-2 border-gray-600">
                        <div class="flex flex-row xl:flex-col gap-2 w-full flex-wrap justify-center">
                            <button type="submit" (click)="guardarDiagrama()"
                                class="relative flex-1 min-w-[110px] flex items-center gap-2 hover:scale-105 transition-110 text-gray-800 px-4 py-2 rounded transition-colors duration-300 border border-gray-300 justify-center text-semigrande">
                                <img src="assets/elementos/guardar.svg" alt="Guardar diagrama"
                                    class=" absolute left-4 w-5 h-5" />
                                Guardar diagrama
                            </button>
                            <button type="button" (click)="eliminarDiagramaCompleto()"
                                class="relative flex-1 min-w-[110px] flex items-center gap-2 hover:scale-105 transition-110 text-gray-800 px-4 py-2 rounded transition-colors duration-300 border border-gray-300 justify-center text-semigrande">
                                <img src="assets/elementos/eliminar.svg" alt="Eliminar diagrama"
                                    class=" absolute left-4 w-5 h-5" />
                                Eliminar diagrama
                            </button>
                            <button type="button" (click)="exportarPDF()"
                                class="relative flex-1 min-w-[110px] flex items-center gap-2 hover:scale-105 transition-110 text-gray-800 px-4 py-2 rounded transition-colors duration-300 border border-gray-300 justify-center text-semigrande">
                                <img src="assets/elementos/descargar.svg" alt="PDF" class=" absolute left-4 w-6 h-6" />
                                <span class="hidden sm:inline">Exportar PDF</span>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </aside>

        <main class="flex-1 min-w-0 px-4 py-6 bg-white xl:border-l border-gray-200 overflow-x-hidden max-w-full">
            <div class="flex flex-row gap-2 justify-center items-center">
                <label class="text-grande font-medium justify-center">
                    Texto para simbolo:
                </label>
                <input [(ngModel)]="textoNodo" placeholder="Texto del simbolo" type="text" class="flex-1 p-1 border border-gray-300 rounded placeholder-gray-400 transition-all duration-200 
                hover:bg-gray-100/25 focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-500 m-2" />
            </div>

            <!-- Contenedor con Scroll Horizontal (Confined) y Fondo de Lienzo -->
            <div class="w-full max-w-full overflow-x-auto bg-gray-100 border rounded-md custom-scrollbar">
                <div class="flex justify-center items-center min-w-fit p-4 sm:p-8">
                    <div class="relative bg-white shadow-sm border border-gray-300 min-w-[825px] w-[825px] overflow-hidden"
                        style="height: fit-content;">
                        <div #canvas></div>

                        <!-- Popover flotante -->
                        @if (popoverVisible()) {
                        <div class="absolute z-50 bg-white border border-gray-300 shadow-md rounded-xl py-3 px-3 flex flex-col gap-2 min-w-[280px] custom-popover"
                            [style.left.px]="popoverPos().x" [style.top.px]="popoverPos().y-10">
                            <!-- Campo editable -->
                            <label class="text-center text-sm font-bold text-gray-700">Editar Texto</label>
                            <textarea [(ngModel)]="popoverText"
                                class="border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 overflow-y-auto resize-none h-20"
                                placeholder="Escribe el contenido aquí..." autofocus></textarea>
                            <!-- Botones -->
                            <div class="flex flex-row gap-2 justify-center mt-1">
                                <button
                                    class="bg-blue-500 text-white text-sm px-3 py-1 w-full rounded hover:bg-blue-600 transition-colors"
                                    (click)="guardarPopover()"> Guardar
                                </button>
                                <button
                                    class="bg-gray-500 text-white text-sm px-3 py-1 w-full rounded hover:bg-gray-600 transition-colors"
                                    (click)="popoverVisible.set(false)"> Cerrar
                                </button>
                            </div>
                            <!-- Flechita hacia abajo -->
                            <div
                                class="absolute left-1/2 -bottom-2 transform -translate-x-1/2 w-0 h-0 border-l-6 border-l-transparent border-r-6 border-r-transparent border-t-6 border-t-gray-300">
                            </div>
                            <div
                                class="absolute left-1/2 -bottom-1 transform -translate-x-1/2 w-0 h-0 border-l-6 border-l-transparent border-r-6 border-r-transparent border-t-6 border-t-white">
                            </div>
                        </div>
                        }

                        <!-- 🖱️ Menú Contextal (Custom) -->
                        @if (contextMenuVisible()) {
                        <div class="absolute z-[100] bg-white border border-gray-300 shadow-md rounded overflow-hidden flex flex-col min-w-[150px]"
                            [style.left.px]="contextMenuPos().x" [style.top.px]="contextMenuPos().y">
                            <button (click)="copiarElementos(); contextMenuVisible.set(false)"
                                class="px-2 py-2 text-sm text-left hover:bg-gray-100 flex items-center gap-2">
                                <span>📋</span> Copiar <span class="text-gray-500 text-xs pl-4"> Ctrl+C </span>
                            </button>
                            <button (click)="pegarElementos(); contextMenuVisible.set(false)"
                                class="px-2 py-2 text-sm text-left border-b border-gray-200 hover:bg-gray-100 flex items-center gap-2">
                                <span>📥</span> Pegar <span class="text-gray-500 text-xs pl-5"> Ctrl+V </span>
                            </button>
                            <button (click)="eliminarConBoton(); contextMenuVisible.set(false)"
                                class="px-2 py-2 text-sm text-left hover:bg-gray-100 text-red-600 flex items-center gap-2">
                                <span>🗑️</span> Eliminar <span class="text-gray-500 text-xs pl-2"> Eliminar </span>
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Tooltip Sidebar (Absolute position) -->
    @if (botonActivo()) {
    <div class="absolute w-80 min-h-58 max-h-58 bg-white shadow-lg rounded-lg py-1 border border-gray-200 z-[9999] pointer-events-none"
        [style.left.px]="sidebarPopoverPos().x" [style.top.px]="sidebarPopoverPos().y">
        <img [src]="botonActivo()?.imagen" alt="simbolo" class="w-26 h-26 mx-auto" />
        <h3 class="text-center font-bold text-gray-800">
            {{ botonActivo()?.titulo }}
        </h3>
        <p class="text-sm text-gray-600 text-center mt-1 px-2">
            {{ botonActivo()?.descripcion }}
        </p>
    </div>
    }
</div>