<div class="flex flex-col min-h-screen">
  <!-- HEADER FIJO -->
  <header class="w-full z-50 bg-white shadow-md">
    <app-header
      (toggleMenu)="toggleSidebar()"
      [esMenuPrincipal]="esMenuPrincipal">
    </app-header>
  </header>

  <!-- CONTENIDO PRINCIPAL CON SIDEBAR -->
  <div class="flex-1 flex">
    <!-- MENU LATERAL -->
    @if (!esMenuPrincipal) {
    <aside
      class="bg-azul-fondo sticky top-[4rem] z-40 shadow-lg transition-all duration-500 ease-in-out hidden md:block"
      [ngClass]="{
    'md:w-56': !colapsar,  
    'md:w-0': colapsar
  }">
      @if(!colapsar){
      <app-menulateral></app-menulateral>
      }
    </aside>
    }

    <!-- CONTENIDO PRINCIPAL -->
 <main
  class="flex-1 w-full bg-white transition-all duration-500 ease-in-out delay-100">
  <router-outlet></router-outlet>
</main>
  </div>

  <!-- FOOTER -->
<footer class="bg-white border-t border-gray-200 transition-all duration-500 ease-in-out delay-100">
  <app-footer></app-footer>
</footer>
</div>
