<div class="font-sans text-gray-800 bg-white">
  <!-- Título superior -->
  <div class="mb-2 bg-white text-med py-1 px-3 min-h-[calc(100vh-13rem)] max-w-screen mx-auto">
    <div class="container m-auto grid grid-cols-1 gap-1 pt-15 md:grid-cols-2 lg:grid-cols-3">
      <!-- Acerca de Estandarizacion de procedimientos -->
      <div class="bg-white hover:bg-gray-200 disabled:opacity-50">
        <div class="cursor-pointer flex justify-center items-center " (click)="redireccion(1)">
          <img src="assets/menuprincipal/Acerca_de_Estandarizacion.svg"
            class="w- 50 h-50 hover:scale-115 transition duration-200" alt="Estandarizacion de procedimientos">
        </div>
      </div>
      <!-- Recoleccion de informacion -->
      <div class="bg-white hover:bg-gray-200 disabled:opacity-50">
        <div class="cursor-pointer flex justify-center items-center " (click)="redireccion(2)">
          <img src="assets/menuprincipal/Recoleccion_de_Informacion.svg"
            class="w- 50 h-50 hover:scale-115 transition duration-200 " alt="Recoleccion de informacion">
        </div>
      </div>
      <!-- Identificacion de requerimientos -->
      <div class="bg-white hover:bg-gray-200 disabled:opacity-50">
        <div class="cursor-pointer flex justify-center items-center " (click)="redireccion(3)">
          <img src="assets/menuprincipal/Identificacion_de_requerimientos.svg"
            class="w- 50 h-50 hover:scale-115 transition duration-200 " alt="Identificacion de requerimientos">
        </div>
      </div>
      <!-- Socializacion de procedimientos -->
      <div class="bg-white hover:bg-gray-200 disabled:opacity-50">
        <div class="cursor-pointer flex justify-center items-center " (click)="redireccion(4); ListaProcedimientos()">
          <img src="assets/menuprincipal/Socializacion_de_procedimientos.svg"
            class="w- 50 h-50 hover:scale-115 transition duration-200" alt="Socializacion de procedimientos">
        </div>
      </div>
      <!-- Manual de usuario -->
      <div class="bg-white hover:bg-gray-200 disabled:opacity-50">
        <div class="cursor-pointer flex justify-center items-center" (click)="redireccion(5)">
          <img src="assets/menuprincipal/Manual_de_usuario.svg"
            class="w- 50 h-50 hover:scale-115 transition duration-200" alt="Manual de usuario">
        </div>
      </div>
    </div>
  </div>
</div>