<div class="mb-1 bg-white tpy-2 px-3 rounded-xl shadow-sm">
  <div class="flex flex-col md:flex-row min-h-screen mb-2 bg-white font-sans">

    <!-- MENÚ LATERAL -->

    <aside
      class="md:w-38 w-full text-azul-fondo p-2 mt-2 mb-1 sticky top-22 md:h-screen scale-z-1 border-r-1 border-gray-200 rounded-sm bg-white">
      <h2 class="text-xl font-bold mb-3 mt-1 text-left">Contenido</h2>
      <nav class="text-sm">

        <a
          [routerLink]="[]"
          fragment="definiciones"
          [class.active]="activeSection === 'definiciones'"
          class="no-underline text-gray-600 block px-3 py-3 hover:text-gray-800 transition border-l-1 border-gray-300">
          Definiciones

        </a>

        <a class="border-gray-600"
          [routerLink]="[]"
          fragment="mapa"
          [class.active]="activeSection === 'mapa'"
          class="no-underline text-gray-600 block px-3 py-3  hover:text-gray-800 transition border-l-1 border-gray-300">
          Mapa de procesos
        </a>

        <a
          [routerLink]="[]"
          fragment="metodologia"
          [class.active]="activeSection === 'metodologia'"
          class="no-underline text-gray-600 block px-3 py-3  hover:text-gray-800 transition border-l-1 border-gray-300">
          Metodología
        </a>

        <div class="mt-6">
          <a onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
            class="no-underline flex items-center gap-1 px-1 py-2 rounded-full hover:text-azul-fondo  text-gray-600 transition-colors">
            <span class="material-symbols-outlined">arrow_upward_alt</span>
            Volver arriba
          </a>
        </div>

      </nav>
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <main
      class="flex-1 px-2 py-2 m-1 mt-2 md:p-10 space-y-1 overflow-auto bg-white md:rounded-sm  text-med border-l-1 border-r-1 border-gray-200 ">

      <div
        class="bg-azul-oscuro text-white p-2 rounded uperlowercase">
        1. Acerca de la Estandarización de Procedimientos
      </div>
      <!-- TÍTULO -->
      <header class="px-4">

        <h1
          class="text-2xl sfont-extrabold text-gray-800 mb-2">Introduccion </h1>

        <p class="Text-justify"> En este apartado se presenta una propuesta de
          guía metodológica para
          la estandarización de procedimientos en la Facultad de Ingeniería de
          la
          Universidad de Nariño.</p>
        <p class="Text-justify">Esta guía metodológica ofrece una estrategia
          para
          llevar a cualquier
          procedimiento a un estado completo. Es decir, procedimientos
          debidamente
          documentados,
          con herramientas computacionales de soporte (si es necesario) y
          reglamentado. </p>
        <p class="Text-justify"> Esta guía está enfocada en brindar el
          acompañamiento en el proceso de
          estandarización de procedimientos, especificando cada actividad desde
          el
          levantamiento de información hasta el reconocimiento oficial del
          procedimiento. </p>
        <p class="Text-justify"> los siguientes terminos son importantes para
          entender el contexto de
          la
          estandarización de procedimientos:</p>
      </header>

      <!-- SECCIÓN: DEFINICIONES -->
      <section id="definiciones" class=" scroll-mt-20 px-6 py-2">
        <div
          class="bg-gray-100/50 rounded-lg shadow-md shadow-gray-400 p-4 border-l-2 border-azul-btn/70 text-justify">
          <h2 class="text-2xl font-semibold text-azul-fondo *:mb-4">
            Definiciones</h2>
          <ul class="list-disc pl-6 space-y-2 text-gray-700 leading-relaxed">
            <li><strong>Mapa de procesos:</strong> “Es una descripción ilustrada
              que permite visualizar la dinámica de toda la Universidad como
              sistema integral, e identifica las áreas, fortalezas que reconocen
              el valor de las contribuciones individuales”.</li>
            <li><strong>Proceso:</strong> “Conjunto de actividades
              interrelacionadas que transforman una o más entradas en salidas
              mientras consume recursos para realizar la transformación”.</li>
            <li><strong>Procedimiento: </strong> “Los procedimientos especifican
              y
              detallan un proceso, los cuales conforman un método o modo de
              ejecutar un conjunto ordenado de operaciones o actividades
              determinadas secuencialmente en relación con los responsables de
              la
              ejecución”.</li>
            <li><strong>Estandarización:</strong> Proceso por el cual una serie
              de
              actividades o procedimientos relacionados, se ajustan a un modelo
              en
              común que se considera referencia.</li>
            <li><strong>Direccionamiento Estratégico:</strong> “Definir
              lineamientos para dirigir las actividades propias de la
              Universidad
              de acuerdo con su misión institucional”.</li>
            <li><strong>Gestión de Calidad:</strong> “Implementar, revisar y
              mantener el Sistema Integrado de Gestión de Calidad, en función de
              la misión institucional, el mejoramiento continuo y la
              satisfacción
              de la Comunidad Estudiantil y los Grupos de Interés”.</li>
            <li><strong>Formación académica:</strong> Proceso misional que se
              basa
              en “Formar integralmente estudiantes a través de los diferentes
              Programas, niveles y modalidades de Educación Superior”.</li>
            <li><strong>Investigación:</strong> Producir conocimiento y
              contribuir
              a identificar y resolver problemáticas de la ciencia, las artes,
              la
              cultura, las humanidades y la tecnología a través de la
              investigación.</li>
            <li><strong>Interacción Social:</strong> Establecer planes,
              programas
              y proyectos de interacción entre la comunidad universitaria y la
              región.</li>
            <li><strong>Gestión Humana:</strong> Gestionar de manera integral y
              efectiva el Talento Humano en función de la misión y la visión
              institucional.</li>
            <li><strong>Gestión de Comunicaciones:</strong> Promover la
              comunicación oportuna y el intercambio informativo entre la
              Institución Universitaria, sociedad y grupos de interés.</li>
            <li><strong>Gestión de Bienestar Universitario:</strong> Realizar
              planes y programas encaminados a mantener y mejorar la calidad de
              vida de la Comunidad Universitaria.</li>
            <li><strong>Gestión de Información y Tecnología:</strong>
              Administrar el sistema integral de Información
              y Tecnología con Herramientas óptimas para satisfacer las
              necesidades de la
              Institución y de los entes externos públicos y privados</li>
            <li><strong>Gestión de Recursos Físicos:</strong> Proveer de manera
              efectiva los recursos físicos que se requieran para el
              cumplimiento
              de la
              Visión y Misión Institucional.</li>
            <li><strong>Gestión Financiera:</strong> Administrar los recursos
              financieros brindando información oportuna que permita una
              adecuada
              toma de decisiones.</li>
            <li><strong>Gestión Jurídica:</strong> Asesorar a la Universidad de
              Nariño en
              los asuntos jurídicos de interés para la entidad.</li>
            <li><strong>Soporte a Procesos Misionales:</strong> Garantizar el
              acceso a los diferentes servicios, recursos y tecnologías,
              necesarios para
              funciones académicas, investigativas y de interacción social.</li>
            <li><strong>Gestión Documental:</strong>
              Garantizar el manejo eficaz,eficiente y efectivo de los documentos
              y comunicaciones oficiales de la Universidad de Nariño.</li>
            <li><strong>Control y Evaluación:</strong>
              Controlar y evaluar de forma efectiva el Sistema de Gestión de la
              Universidad,
              verificando el cumplimiento de las actividades
              y los lineamientos reglamentado aplicables a los
              procesos,contribuyendo
              a la eficiente toma de decisiones, el mejoramiento continuo
              y el cumplimiento de la misión institucional</li>
          </ul>
        </div>
      </section>

      <!-- SECCIÓN: MAPA DE PROCESOS -->
      <section id="mapa" class="scroll-mt-20 px-4 py-2">
        <div
          class="bg-gray-100/50 rounded-lg shadow-md shadow-gray-400 p-4 border-l-2 border-azul-btn/70 text-justify">
          <h2 class="text-2xl font-semibold text-azul-fondo mb-4"> Mapa de
            proceso
            de la Universidad de Nariño</h2>
          <p class="text-gray-700 mb-4">
            La Universidad de Nariño tiene definido un mapa de procesos como una
            descripción ilustrada que permite visualizar la dinámica de toda la
            Universidad como sistema integral, e identifica las áreas y
            fortalezas
            que reconocen el valor de las contribuciones individuales.
          </p>
          <p class="text-gray-700 mb-4">
            Los procedimientos que llevan a cabo las facultades de la
            Universidad
            hacen parte de los procesos misionales específicamente en la
            categoría
            de Formación Académica de acuerdo con el siguiente mapa de procesos:
          </p>
          <div class="flex justify-center">
            <img src="assets/images/mapa-procesos.jpg"
              alt="Mapa de procesos Universidad de Nariño"
              class="rounded-xl border shadow-md max-w-2xl" />
          </div>
        </div>
      </section>

      <!-- SECCIÓN: METODOLOGÍA -->
      <section id="metodologia" class="scroll-mt-20 px-6 py-2">
        <div
          class="bg-gray-100/50 rounded-lg shadow-md shadow-gray-400 p-4 border-l-2 border-azul-btn/70 text-justify">
          <h2 class="text-2xl font-semibold text-azul-fondo mb-4"> Metodología
            para
            la estandarización de procedimientos</h2>
          <p class="text-gray-700 mb-4">
            Se propone ejecutar los siguientes pasos para llevar a cualquier
            procedimiento a un estado completo, dentro de la Facultad de
            Ingeniería de la Universidad de Nariño, para tal fin,
            se adjunta el Formato de Aplicación de la Guía Metodológica
            para la Estandarización de Procedimientos de la Facultad de
            Ingeniería
            de la Universidad de Nariño. El responsable de la
            aplicación de esta
            metodología será el profesional asignado a la estandarización de un
            procedimiento en
            particular.
          </p>
          <li><a
              href="https://electronica.udenar.edu.co/wp-content/uploads/2020/10/Estatuto-General.pdf"
              target="_blank" class="text-blue-600 hover:underline">
              Guía Metodológica para la Estandarización de Procedimientos de la
              Facultad de Ingeniería de la Universidad de Nariño </a>
          </li>
          <div class="flex justify-center my-6">
            <img src="assets/images/metodologia-flujo.png"
              alt="Flujo metodológico para la estandarización de procedimientos"
              class="rounded-xl border shadow-md max-w-xl"
              onerror="this.onerror=null;this.src='assets/placeholder.png';" />
          </div>

        </div>
      </section>
      <p class="py-1 text-gray-700 text-center justify-center">
        <strong>Para la recoleccion de la informacion se
          le recomienda seguir a el siguiente apartado </strong>
      </p>
      <div class="flex justify-center">
        <app-navegacion
          [rutaSiguiente]="'/recoleccioninformacion'">
        </app-navegacion>
      </div>
    </main>
  </div>
</div>
