<footer class="text-peq main-footer p-4 bg-white border-t border-gray-200">
    <div class="container-fluid">
      <div class="pull-right hidden-xs">
        <div class="col-xs-12"><small class="ng-binding">© CI 2025</small></div>
      </div>
      <strong class="ng-binding">
        Copyright © 2025
        <a class="text-blue-600 hover:underline" href="https://ci.udenar.edu.co/">
          Centro de Informática - Universidad de Nariño
        </a>.
      </strong>
      Todos los derechos reservados.
    </div>
</footer>

