<div class="p-2 bg-white">
  <div class="text-med bg-azul-oscuro font-medium text-white p-2 border rounded-md mb-2 uppercase px-2">
    4. Socialización de procedimientos
  </div>
  <!-- Modal de lista desplegable  -->
  <app-lista-desplegable [visible]="abrir" [items]="procedimientos" (cerrar)="cerrarModal()"
    (guardar)="onSocializar($event)">
  </app-lista-desplegable>
  @if (procedimientoSeleccionado) {
  <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
    <div class="bg-gray-100 border-b border-gray-200 px-4 py-3 mb-3">
      <h4 class="font-normal text-center"> <strong>Procedimiento: </strong>
        {{procedimientoSeleccionado.procedimiento | titlecase}}
      </h4>
    </div>
    <div class="px-4">
      <!-- Mostrar Ficha tecnica del procedimiento -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Ficha Técnica del Procedimiento
          </h1>
        </div>
        <div class="p-4">
          <app-tabla-criterios [columnas]="datosTablaService.encabezadoFichaTecnica" [filas]="datosProcedimiento">
          </app-tabla-criterios>
        </div>
      </div>

      <!-- Mostrar el formulario DAAC -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Formulario División de Autoevaluación y Acreditación de la Calidad
          </h1>
        </div>
        <div class="p-4">
          @if (FormularioDAAC.length > 0) {
          <app-tabla-criterios [columnas]="datosTablaService.DescripcionDAAC" [filas]="FormularioDAAC">
          </app-tabla-criterios>
          }
          @else {
          <p class="text-gray-500 text-center font-bold">
            El procedimiento {{ procedimientoSeleccionado.procedimiento | titlecase }}
            no tiene el Formulario DAAC creado
          </p>
          }
        </div>
      </div>

      <!-- Documento base -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Documento Base
          </h1>
        </div>
        <div class="p-4">
          @if (documentosBase && documentosBase.length > 0) {
          <app-tablas-formulario [columnas]="datosTablaService.columnaDocumentoBase" [data]="documentosBase"
            [mostrarOpciones]="false">
          </app-tablas-formulario>
          }
          @else {
          <p class="text-gray-500 text-center font-bold">
            El procedimiento {{ procedimientoSeleccionado.procedimiento | titlecase }}
            no tiene Documento Base creado
          </p>
          }
        </div>
      </div>

      <!-- Mostrar Diagrama de flujo -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Diagrama de Flujo {{ procedimientoSeleccionado.procedimiento | titlecase }}
          </h1>
        </div>
        <div class="p-4 text-center">
          @if (procedimientoSeleccionado.id_diagrama) {
          <Button (click)="descargarPDFDiagrama()" class="inline-flex items-center gap-2 bg-gray-100 border border-gray-200
               text-gray-700 px-4 py-2 rounded hover:bg-gray-200">
            <img src="assets/elementos/descargarDocumentoGris.svg" class="w-6 h-6" />
            Descargar PDF del Diagrama
          </Button>
          }
          @else {
          <p class="text-gray-500 font-bold">
            El procedimiento no tiene Diagrama de Flujo creado
          </p>
          }
        </div>
      </div>

      <!-- Soporte computacional -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Soporte Computacional
          </h1>
        </div>
        <div class="p-4">
          @if (soporteComputacional) {
          <div class="border rounded-lg p-4 max-w-xl mx-auto">
            <ul class="list-none list-inside text-gray-700 items-center text-center">
              <li><strong>Cuenta con soporte computacional:</strong> {{
                soporteComputacional.tiene_soporte ? 'Sí' : 'No' }}</li>
              @if (soporteComputacional.nombre) {
              <li><strong>Nombre del soporte computacional:</strong> {{
                soporteComputacional.nombre }}</li>
              }
              @if (soporteComputacional.descripcion) {
              <li><strong>Descripción del soporte computacional:</strong> {{ soporteComputacional.descripcion
                }}</li>
              }
              @if (soporteComputacional.requiere_soporte !== undefined && soporteComputacional.requiere_soporte !==
              null)
              {
              <li><strong>Requiere soporte computacional:</strong> {{
                soporteComputacional.requiere_soporte ? 'Sí' : 'No' }}</li>
              }
            </ul>
          </div>
          }
          @else {
          <p class="text-gray-500 text-center font-bold">
            No existe soporte computacional registrado
          </p>
          }
        </div>
      </div>

      <!-- Formato de Estandarización -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Formato de Estandarización
          </h1>
        </div>
        <div class="p-4 text-center">
          <Button class="inline-flex items-center gap-2 bg-gray-100 border border-gray-200
             text-gray-700 px-4 py-2 rounded hover:bg-gray-200">
            <img src="assets/elementos/descargarDocumentoGris.svg" class="w-6 h-6" />
            Descargar PDF del Procedimiento
          </Button>
        </div>
      </div>

      <!-- Registro de socialización -->
      <div class="max-w-screen mx-auto mb-2 border border-gray-200 rounded-md overflow-hidden bg-white">
        <div class="bg-gray-50 border-b border-gray-200 px-4">
          <h1 class="text-lg font-medium text-azul-fondo text-center">
            Registro de Socialización
          </h1>
        </div>
        <div class="p-4">
          @if (!socializado) {
          <form (ngSubmit)="registrarSocializacion()" class="flex flex-wrap gap-4 justify-center">
            <input type="date" [(ngModel)]="fecha" name="fecha" class="p-2 border rounded w-full md:w-1/4" required>
            <input type="time" [(ngModel)]="lugar" name="hora" class="p-2 border rounded w-full md:w-1/4" required>
            <input type="text" [(ngModel)]="lugar" name="lugar" placeholder="Lugar"
              class="p-2 border rounded w-full md:w-1/4" required>
            <button class="bg-green-700 text-white px-4 py-2 rounded hover:bg-green-600">
              Registrar
            </button>
          </form>
          }
        </div>
      </div>
    </div>
    <div class=" p-2">
      <app-navegacion [rutaAnterior]="'/identificacionrequerimientos'" [rutaSiguiente]="'/manualusuario'"
        (siguiente)="abrirListaSocializacion()">
      </app-navegacion>
    </div>
  </div>
  <div>
  </div>
  }
</div>