@if (visible) {
<div
    class="fixed inset-0 bg-black/50 bg-opacity-40 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-xl">
        <h2 class="text-lg font-semibold mb-6 text-center">
            Selecciona un procedimiento para socializar
        </h2>

        <form (ngSubmit)="onGuardar()">
            <div class="flex flex-row items-center gap-2">
                <label class="block mb-2 font-medium">Procedimiento:</label>
                <select [(ngModel)]="selectedProcedimiento" name="procedimiento"
                    class="w-full p-2 border rounded mb-4">
                    @for (proc of procedimientos; track proc.Procedimiento) {
                    <option [value]="proc.Procedimiento">
                        {{ proc.Procedimiento }}
                    </option>
                    }
                </select>

                <!-- Botones -->
                <div class="flex flex-row gap-2 pl-3 pr-3">
                    <button
                        type="button"
                        (click)="onCancel()"
                        class="px-4 py-2 bg-gray-300 rounded-lg hover:bg-gray-400">
                        Cancelar
                    </button>
                    <button
                        type="submit"
                        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
                        Socializar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
}
