<!-- Encabezado general -->
<div class="overflow-x-auto w-full">
  <table [ngClass]="{'w-full': mostrarOpciones(), 'w-1/4': !mostrarOpciones()}"
    class="xl:table-fixed overflow-x-auto border border-gray-300 text-center text-sm border-collapse min-w-max w-full">
    <thead>
      <tr>
        <th [attr.colspan]="columnas().length + (mostrarOpciones() ? 1 : 0)"
          class="p-2 bg-encabezado-tabla text-white text-semigrande font-medium text-left">
          <div class="flex items-center gap-2">
            <img src="assets/elementos/lista.svg" alt="" class="ml-2 w-4 h-4">
            {{ encabezadoGeneral() }}

          </div>
        </th>
      </tr>
      <tr>
        @for (col of columnas(); track col.key) {
        <th class="bg-white p-1 text-center tracking-wider border border-gray-300 font-medium text-black w-[150px]">
          {{ col.label | titlecase }}
        </th>
        }
        @if (mostrarOpciones()) {
        <th class="bg-white p-1 text-center  tracking-wider border border-gray-300 font-medium text-black w-[120px]">
          Opciones
        </th>
        }
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      @for (item of datosPaginados(); track $index) {
      <tr class="hover:bg-gray-100">
        @for (nombre of columnas(); track nombre.key) {
        <td
          class="px-2 py-2 border border-gray-300 text-center align-top whitespace-pre-line break-words text-gray-800">
          {{ item[nombre.key] | formatearArray:'custom':'•' }}
        </td>
        }
        @if (mostrarOpciones()) {
        <td class=" border border-gray-300 p-2 text-center align-middle">
          @if (accionesTemplate(); as template) {
          <ng-container *ngTemplateOutlet="template; context: { $implicit: item }"></ng-container>
          }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Paginación -->
@if (mostrarpaginado() === true) {
<div class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-3 py-3">
  <!-- Total procedimientos -->
  <div class="flex justify-center lg:justify-start px-2 text-sm text-gray-600">
    @if (data().length == 1) {
    <span>Total de procedimiento: {{ data().length }}</span>
    }
    @else {
    <span>Total de procedimientos: {{ data().length }}</span>
    }
  </div>
  <!-- Controles -->
  <div class="flex flex-wrap items-center justify-center lg:justify-end gap-2 text-sm">
    <div class="text-gray-600">
      Item por página
    </div>
    <select (change)="CambiarItemPagina($event)" id="itemPorPagina" class="text-gray-600 rounded-md border border-gray-300
             px-2 py-1 outline-none cursor-pointer
             hover:border-gray-400 transition-all duration-200
             text-sm">
      <option value="1">1</option>
      <option value="5" selected>5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>

    <!-- Página -->
    <div class="flex text-gray-600 text-center">
      Página: {{ paginaActual() }} de {{ totalPaginas() }}
    </div>
    <div class="flex flex wrap items-center gap-1 overflow-x-auto max-w-full">
      <button (click)="paginaAnterior()" [disabled]="paginaActual() === 1"
        class="px-2 py-1 text-sm rounded border border-gray-300 transition" [ngClass]="paginaActual() === 1
        ? 'text-gray-300 cursor-not-allowed'
        : 'text-gray-700 hover:bg-gray-100'">
        &laquo;
      </button>
      <!-- Contenedor páginas -->
      @for (pagina of getPaginas(); track pagina; let i = $index) {

      @if (i > 0 && pagina - getPaginas()[i - 1] > 1) {
      <span class="px-1 text-gray-400">...</span>
      }

      <button (click)="irAPagina(pagina)" class="min-w-8 h-8 px-2 text-sm rounded border transition" [ngClass]="pagina === paginaActual()
            ? 'bg-green-700 text-white border-green-700'
            : 'border-gray-300 text-gray-700 hover:bg-gray-100'">
        {{ pagina }}
      </button>
      }
    </div>

    <!-- Botón siguiente -->
    <button (click)="paginaSiguiente()" [disabled]="paginaActual() === totalPaginas()"
      class="px-2 py-1 text-sm rounded border border-gray-300 transition" [ngClass]="paginaActual() === totalPaginas()
        ? 'text-gray-300 cursor-not-allowed'
        : 'text-gray-700 hover:bg-gray-100'">
      &raquo;
    </button>
  </div>

</div>
}