<div class="p-2 bg-white">
    <div class="text-med bg-azul-oscuro font-medium text-white p-2 border rounded-md mb-2 uppercase px-2">
        5. Manual de Usuario
    </div>
    <div class="mb-1 font-medium bg-white text-med py-2 px-4 rounded-sm border border-gray-200 max-w-screen mx-auto">

        <!-- Contenido Manual de Usuario -->
        <div class="flex justify-center">
            <app-navegacion [rutaAnterior]="'/socializacionprocedimientos'" [rutaSiguiente]="''"
                (anterior)="abrirListaSocializacion()">
            </app-navegacion>
        </div>
    </div>
</div>