<div class="bg-[#f3f4f6] min-h-screen py-10 font-['Inter']">
    <div class="a4-page text-black">
        <div class="content-wrapper">
            <div class="flex-grow:1 flex flex-col items-center justify-between py-50">
                <div class="text-center">
                    <img alt="Universidad de Nariño Logo" class="w-60 h-auto mb-1 object-contain"
                        src="assets/images/Escudo_Universidad_Portada.jpg" />
                </div>
                <!-- Titulo -->
                <div class="text-center py-20 px-10">
                    <h6 class="text-md font-semibold mb-12 upperlower">Facultad de Ingeniería</h6>
                    <h6 class="text-md font-bold leading-tight uppercase max-w-2xl mx-auto">
                        Estandarización de Procedimientos de la Facultad de Ingeniería de la Universidad de Nariño
                    </h6>
                </div>
                <!-- Proceso y año -->
                <div class="text-center mt-20">
                    <p class="text-md arial font-bold ">Proceso:
                        {{procedimientosSeleccionado?.procedimiento | titlecase }}
                    </p>
                    <p class="text-md arial font-bold py-12 ">2026</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Pagina Contenido -->
    <div class="a4-page text-black">
        <div class="watermark">π</div>
        <div class="content-wrapper">
            <div class="letra w-full px-10">
                <div class="institutional-footer-1 pt-1 flex justify-between items-center mt-auto pb-6">
                    <div class="flex items-center">
                        <img alt="Universidad de Nariño" class="h-14 w-140"
                            src="assets/images/encabezado_facultad.png" />
                    </div>
                </div>
                <h6 class="text-md font-black mb-10 text-center uppercase leading-tight">
                    Contenido
                </h6>
                <ul class="toc-list w-full">
                    @for (entry of tocEntries; track $index) {
                    <li class="toc-item" (click)="scrollToSection(entry.id)">
                        <span class="toc-title">{{ entry.title }}</span>
                        <span class="toc-spacer"></span>
                        <span class="toc-page">{{ entry.page }}</span>
                    </li>
                    }
                </ul>
            </div>
            <div class="institutional-footer-1 pt-1 flex justify-between items-center mt-auto">
                <div class="flex items-center">
                    <img alt="Universidad de Nariño" class="h-15 w-160"
                        src="assets/images/pie_de_pagina facultad.png" />
                </div>
            </div>
        </div>
    </div>

    <!-- Dynamic Pages Loop -->
    @for (page of pages; track $index; let i = $index) {
    <div class="a4-page text-black relative text-grande">
        <div class="watermark">π</div>
        <div class="content-wrapper flex flex-col h-full">

            <!--  -->
            <div class="institutional-footer-1 pt-1 flex justify-between items-center mt-auto pb-6">
                <div class="flex items-center">
                    <img alt="Universidad de Nariño" class="h-14 w-140" src="assets/images/encabezado_facultad.png" />
                </div>
            </div>

            <!-- Contenido Dinámico -->
            <div class="content-container py-2">
                @for (item of page; track $index) {
                <div class="content-item" [innerHTML]="getTrustedHTML(item)"></div>
                }
            </div>

            <!-- Pie de Página -->
            <div class="institutional-footer-1 pt-1 flex justify-between items-center mt-auto">
                <div class="flex items-center">
                    <img alt="Universidad de Nariño" class="h-15 w-160"
                        src="assets/images/pie_de_pagina facultad.png" />
                </div>
            </div>
        </div>
    </div>
    }

    <!-- Hidden Source for Pagination Calculation -->
    <div #contentSource
        style="visibility: hidden; position: absolute; top: 0; left: -9999px; width: 170mm; height: auto; overflow: visible; pointer-events: none; z-index:-10;">
        <!-- Block 1: Intro Title -->
        <div class="mb-2">
            <p class="text-md font-black mb-2 text-center uppercase leading-tight">
                ESTANDARIZACIÓN DEL PROCEDIMIENTO {{procedimientosSeleccionado?.procedimiento}}
            </p>
            <h6 class="text-md font-black mb-2 text-center uppercase leading-tight">
                FACULTAD DE INGENIERÍA
            </h6>
        </div>

        <!-- Block 2: Method Title -->
        <div class="pl-4 mb-2">
            <h6 data-section-id="1" data-section-title="1. METODOLOGÍA PARA LA ESTANDARIZACIÓN DE PROCEDIMIENTOS"
                class="text-md font-semibold mb-2 uppercase leading-tight">
                1. METODOLOGÍA PARA LA ESTANDARIZACIÓN DE PROCEDIMIENTOS
            </h6>
        </div>
        <!-- Block 3: Method Text -->
        <div class="arial mb-2">
            <p class="text-justify leading-normal py-4">
                La guía metodológica para la estandarización de procedimientos de la Facultad de
                Ingeniería de la Universidad de Nariño, propone ejecutar los siguientes pasos para
                llevar a cualquier procedimiento a un estado completo<sup>1</sup>:
            </p>
        </div>
        <!-- Block 4: Method Image -->
        <div class="text-center mb-2 leading-normal block">
            <img alt="metodologia" src="assets/images/metodologia.png" class="max-w-[85%] mx-auto h-auto" />
        </div>
        <div class="border-t mt-2 mb-2 border-black w-1/2">
        </div>
        <div>
            <p class="text-justify text-md"><sup>1</sup> Facultad de Ingeniería. Guía Metodológica para la
                estandarización de procedimientos de las facultades de la Universidad de Nariño. Pasto. 2021, p. 17.
            </p>
        </div>

        <!-- Block 5: Ficha Title -->
        <div class="pl-4 mb-4">
            <h1 data-section-id="1.1" data-section-title="1.1. FICHA TÉCNICA DEL PROCEDIMIENTO"
                class="text-sm font-black mb-4 uppercase leading-tight">
                1.1. FICHA TÉCNICA DEL PROCEDIMIENTO {{procedimientosSeleccionado?.procedimiento}}
            </h1>
        </div>
        <!-- Block 6: Ficha Text -->
        <div class="mb-2 mt-2">
            <p class="text-justify mb-4 leading-normal arial">
                Teniendo en cuenta que el procedimiento a estandarizar, se desarrolla al interior de la Facultad
                de Ingeniería. Se realizaron las siguientes actividades para recolectar información.
            </p>
            <p class="text-justify mb-4  leading-normal arial">
                [Descripción de recolección de información]
            </p>
        </div>
        <!-- Block 7: Ficha Table -->
        <div class="mb-4 mt-4">
            <table class="w-full border-collapse border border-black arial ">
                <thead>
                    <tr class="yellow-table-bg">
                        <th class="border border-black p-2 font-semibold text-center uppercase bg-[#ffe599]"
                            colspan="2">
                            Ficha Técnica de Procedimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase w-1/4 bg-[#ffe599]">
                            Procedimiento
                        </td>
                        <td class="border border-black mt-2 p-2 bg-[#fff2cc]">
                            {{procedimientosSeleccionado?.procedimiento}}</td>
                    </tr>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase bg-[#ffe599]">
                            Categoría</td>
                        <td class="border border-black mt-2 p-2 bg-[#fff2cc]">
                            {{procedimientosSeleccionado?.categoria}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase bg-[#ffe599]">Rol
                        </td>
                        <td class="border border-black mt-2 p-2 bg-[#fff2cc]">
                            <ul class="pl-4 space-y-1">
                                @for (rol of procedimientosSeleccionado?.roles; track $index){
                                <li class="flex items-start gap-2"><span>•</span><span>{{rol}}</span></li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase bg-[#ffe599]">Estado
                        </td>
                        <td class="border border-black mt-2 p-2 bg-[#fff2cc]">
                            {{procedimientosSeleccionado?.estado}}</td>
                    </tr>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase bg-[#ffe599]">
                            Actividades</td>
                        <td class="border border-black mt-2 p-2 bg-[#fff2cc]">
                            <ul class="pl-4 space-y-1">
                                @for (actividad of procedimientosSeleccionado?.actividades; track $index){
                                <li class="flex items-start gap-2"><span>•</span><span>{{actividad}}</span></li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-black mt-2 p-2 font-semibold uppercase bg-[#ffe599]">
                            Referencias</td>
                        <td class="border border-black mt-2 p-2 min-h-[40px] bg-[#fff2cc]">
                            <ul class="pl-4 space-y-1">
                                @for (referencia of procedimientosSeleccionado?.referencias; track $index){
                                <li class="flex items-start gap-2"><span>•</span><span>{{referencia}}</span></li>
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Block 8: Estado Actual Title -->
        <div class="mt-2 mb-2">
            <h6 data-section-id="1.2" data-section-title="1.2. ESTADO ACTUAL DEL PROCEDIMIENTO"
                class="pl-4 text-sm font-black uppercase mb-2 mt-2">1.2. ESTADO ACTUAL DEL PROCEDIMIENTO</h6>
            <p class="text-[11px] text-justify leading-relaxed arial">
                {{estadoProcedimiento()}}
            </p>
        </div>
        <!-- Block 9: Soportes Documentales -->
        <div class="pl-4 mb-2 mt-2">
            <h6 data-section-id="1.2.1" data-section-title="1.2.1. SOPORTES DOCUMENTALES"
                class="text-md font-black uppercase mb-2">1.2.1. SOPORTES DOCUMENTALES</h6>
            <div class="pl-4">
                <h6 data-section-id="1.2.1.1" data-section-title="1.2.1.1. DOCUMENTOS QUE SE DEBEN PRODUCIR"
                    class="text-xs font-black uppercase mb-2">1.2.1.1. DOCUMENTOS QUE SE DEBEN PRODUCIR
                </h6>
                <ul class="pl-5 space-y-1 arial">
                    <li class="flex items-start gap-2"><span>•</span><span>Procedimiento según formato entregado por el
                            Sistema Integrado de Gestión de
                            Calidad</span></li>
                    <li class="flex items-start gap-2"><span>•</span><span>Estandarización de procedimientos de las
                            Facultades de la Universidad de Nariño.</span></li>
                </ul>
            </div>
        </div>
        <div class="pl-4 mb-2 mt-2">
            <h6 data-section-id="1.2.1.2" data-section-title="1.2.1.2. REGLAMENTO BASE"
                class="pl-4 text-sm font-black uppercase mb-2">1.2.1.2. REGLAMENTO BASE</h6>
            <ul class="pl-4">
                @for (doc of documentosBase; track $index) {
                <li class="flex items-start gap-2"><span>•</span><span>{{doc.documento}}</span></li>
                } @empty {
                <li class="mb-2">No hay reglamentos base definidos.</li>
                }
            </ul>
        </div>
        <div class="pl-4 mb-2 mt-2">
            <h2 data-section-id="1.2.1.3" data-section-title="1.2.1.3. PROCEDIMIENTO"
                class="pl-4 text-sm font-black uppercase mb-2">1.2.1.3. PROCEDIMIENTO</h2>
            <p class="text-justify leading-relaxed arial">
                Anexo a este documento, se presenta la descripción del procedimiento Anexo No. 1, según
                formato del Sistema de Gestión de Calidad.
        </div>

        <!-- Block 10: Sistema Computacional -->
        <div class="mb-2 mt-2">
            <h6 data-section-id="1.2.2" data-section-title="1.2.2. SISTEMA COMPUTACIONAL DE SOPORTE"
                class="pl-4 text-sm font-black uppercase mb-2">1.2.2. SISTEMA COMPUTACIONAL DE SOPORTE</h6>
            <p class="arial text-justify leading-relaxed">
                El proceso de {{procedimientosSeleccionado?.procedimiento}} actualmente cuenta con un soporte
                computacional
                {{soporteComputacional?.soporte || 'No cuenta con soporte computacional.'}}
                {{soporteComputacional?.descripcion}}.
            </p>
        </div>
        <!-- Block 11: Reglamentación -->
        <div class="mb-2 mt-2">
            <h6 data-section-id="1.2.3" data-section-title="1.2.3. REGLAMENTACIÓN DEL PROCEDIMIENTO"
                class="pl-4 text-sm font-black uppercase mb-2">1.2.3. REGLAMENTACIÓN DEL PROCEDIMIENTO</h6>
            <p class="arial text-justify leading-relaxed">
                Para la reglamentación, se entrega el procedimiento a la División de Autoevaluación,
                Acreditación y Certificación de la Universidad de Nariño para su revisión y visto bueno,
                posteriormente, se presenta ante el Consejo de la Facultad de Ingeniería para su
                aprobación.
            </p>
        </div>
        <!-- Block 12: Socialización -->
        <div class="mb-2 mt-2">
            <h6 data-section-id="1.3"
                data-section-title="1.3. SOCIALIZACIÓN DE PROCEDIMIENTO ESTANDARIZADO EN LA FACULTAD"
                class="pl-4 text-md font-black uppercase mb-2">1.3 SOCIALIZACIÓN DE PROCEDIMIENTO ESTANDARIZADO EN LA
                FACULTAD </h6>
            <p class="arial text-justify leading-relaxed">
                De acuerdo con la descripción del procedimiento, los roles involucrados en su desarrollo son:
                {{procedimientosSeleccionado?.roles}}.
                Por esta razón se realizó la socialización del procedimiento estandarizado ante la
                persona responsable para dar a conocer su reglamentación.
            </p>
        </div>
    </div>