<div class=" text-med bg-gray-100 font-medium text-black p-2  border rounded-md text-center">
  <h6 class="text-azul-oscuro">2. Soporte Computacional</h6>
</div>
<div class="font-sans text-gray-800 bg-white/90 p-3">

  @if (!mostrarTabla()) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6 px-6">
    <!-- Primera pregunta -->
    <div>
      <label class="text-grande block font-bold mb-3">¿El procedimiento
        cuenta con soporte computacional?</label>
      <label class="ml-6 text-grande"><input type="radio" formControlName="tiene_soporte" [value]="true" /> Sí </label>
      <label class="ml-6 text-grande"><input type="radio" formControlName="tiene_soporte" [value]="false" /> No</label>
    </div>

    @if (form.get('tiene_soporte')?.value === true) {
    <div class="space-y-6">
      <!-- Nombre soporte -->
      <div>
        <label class="text-grande block font-bold mb-2">Nombre del soporte
          computacional:</label>
        <textarea formControlName="nombre" rows="2" class="border w-full p-3 rounded-md"></textarea>
      </div>

      <!-- Descripción soporte -->
      <div>
        <label class="text-grande block font-bold mb-2">Descripción del soporte
          computacional:</label>
        <textarea formControlName="descripcion" rows="8" class="border w-full p-3 rounded-md"></textarea>
      </div>

      <p class="text-grande block font-bold">
        Se recomienda evaluar el desempeño del soporte computacional en función
        de los resultados obtenidos durante la ejecución del procedimiento y,
        en caso de ser necesario, proponer mejoras a la herramienta.
      </p>
    </div>
    }

    @if (form.get('tiene_soporte')?.value === false) {
    <div>
      <label class="text-grande block font-bold mb-3 mt-3">¿El procedimiento
        requiere de un soporte computacional?</label>
      <label class="ml-6 text-grande"><input type="radio" formControlName="requiere_soporte" [value]="true" /> Sí
      </label>
      <label class="ml-6 text-grande"><input type="radio" formControlName="requiere_soporte" [value]="false" />
        No</label>

      @if (form.get('requiere_soporte')?.value === true) {
      <div class="mt-3">
        <p class="text-grande block font-bold">
          Se recomienda crear un soporte computacional,
          tener en cuenta que debe cumplir con las directrices
          institucionales que rigen en las dependencias encargadas del
          desarrollo tecnológico.
        </p>
      </div>
      }
      @if (form.get('requiere_soporte')?.value === false) {
      <div class="mt-3">
        <p class="text-grande block font-bold">
          Su procedimiento no necesita soporte computacional, puede continuar con el siguiente estado.
        </p>
      </div>
      }
    </div>
    }

    <!-- Botones Cancelar y Guardar -->
    <div class="flex justify-end gap-2 pt-2 mt-4">
      <button type="submit"
        class="flex items-center gap-2 hover:scale-105 transition-110 text-gray-800 px-4 py-2 rounded hover:brightness-110 transition-colors duration-300">
        <img src="assets/elementos/guardar.svg" alt="Guardar formulario" class="w-6 h-6" />
        Guardar
      </button>
      @if (datosTabla().length > 0) {
      <button type="button" (click)="cancelarEdicion()"
        class="flex items-center gap-2 hover:scale-105 transition-110 text-gray-800 px-4 py-2 rounded hover:brightness-150 transition-colors duration-300">
        <img src="assets/elementos/cancelar.svg" alt="Cancelar formulario" class="w-6 h-6" />
        Cancelar
      </button>
      }
    </div>
  </form>
  } @else {
  <div class="bg-white/80 border border-gray-200 rounded-md p-6 mt-4">
    <app-tabla-datos [data]="datosTabla()" [columnas]="columnasSoporte"
      encabezadoGeneral="Resumen de Soporte Computacional" [mostrarOpciones]="true"
      [accionesTemplate]="accionesPersonalizadas">
    </app-tabla-datos>
  </div>

  <ng-template #accionesPersonalizadas let-dato>
    <div class="flex flex-wrap justify-center space-x-1 gap-2">
      <button (click)="eliminarSoporte(dato)" title="Eliminar soporte" aria-label="Eliminar">
        <img class="hover:brightness-120 w-4 h-4" src="assets/elementos/eliminar.svg" alt="Eliminar" />
      </button>
      <button (click)="editarSoporte(dato)" title="Editar soporte" aria-label="Editar">
        <img class="hover:brightness-120 w-4 h-4" src="assets/elementos/editar.svg" alt="Editar" />
      </button>
    </div>
  </ng-template>
  }
</div>