
<!-- Encabezado superior con logo -->
<div class="w-full bg-verde-btn">
  <!-- LOGO -->
  <div class="container mx-auto flex items-center justify-start pt-2">
    <a href="http://www.udenar.edu.co" class="block">
      <img class="h-24 w-auto" src="https://sapiens.udenar.edu.co:3026/cdn/images/logoudenar.svg" alt="Logo Udenar">
    </a>
  </div>
</div>

<!-- BARRA DE NAVEGACIÓN -->
<nav class="bg-amber-400 shadow-md w-full">
  <div class=" mx-auto flex items-center">
    <!-- Título del módulo -->
    <div class="bg-green-900 px-4 pt-0.5">
      <h4 class="text-white text-small font-semibold items-center justify-center">
        Estandarización de Procedimientos
      </h4>
    </div>

    <!-- Íconos -->
    <div class="flex items-center space-x-3 ml-2">
      <a href="#" class="hover:opacity-80 transition" title="Colapsar menú">
        <img src="https://sapiens.udenar.edu.co:3026/cdn/images/contraer.svg" class="h-3.5 w-3.5" alt="Colapsar">
      </a>
      <a href="#" class="hover:opacity-80 transition" title="Dashboard">
        <img src="https://sapiens.udenar.edu.co:3026/cdn/images/dashboard.svg" class="h-3.5 w-3.5" alt="Dashboard">
      </a>
      <a href="/monitoria" class="hover:opacity-80 transition" title="Menú monitoría">
        <img src="https://sapiens.udenar.edu.co:3026/cdn/images/menu.svg" class="h-3.5 w-3.5" alt="Menú">
      </a>
    </div>
  </div>
</nav>

