<div class="w-full bg-gradient-to-r from-green-700 to-green-900">
  <div class="container mx-auto flex items-center justify-start ">
    <a href="http://www.udenar.edu.co" class="block">
      <img class="h-22 w-auto mt-2.5"
        src="https://sapiens.udenar.edu.co:3026/cdn/images/logoudenar.svg"
        alt="Logo Udenar">
    </a>
  </div>
</div>

<!-- BARRA DE NAVEGACIÓN -->
<nav class="bg-amber-400 shadow-md w-full">
  <div class="mx-auto flex items-center ">
    <!-- Título del módulo -->
    <div class="bg-green-900 px-20 pt-2 clip-romboide w-90">
      <h4 class="text-white text-med font-semibold text-center">
        Estandarización de Procedimientos
      </h4>
    </div>

    <!-- Íconos -->
    @if (!esMenuPrincipal) {
    <div class="flex items-center space-x-2 ml-2">
      <a
        (click)="colapsarMenu()"
        class="hover:opacity-80 transition"
        title="Colapsar menú">
        <img src="https://sapiens.udenar.edu.co:3026/cdn/images/contraer.svg"
          class="h-4.5 w-4.5" alt="Colapsar">
      </a>
      <a routerLink='/'
        class="hover:opacity-80 transition"
        title="Dashboard">
        <img src="https://sapiens.udenar.edu.co:3026/cdn/images/dashboard.svg"
          class="h-4.5 w-4.5" alt="Dashboard">
      </a>
    </div>
    }
  </div>
</nav>
