<div class="p-2 bg-white animate-fade-in">
  <div class="text-med bg-azul-oscuro font-medium text-white p-2 border rounded-md mb-2 uppercase px-2">
    2. Recolección de información
  </div>
  <div class="text-grande border border-gray-200 rounded-md p-4">

    <h1 class="text-xl font-bold text-gray-800 mb-2"> 1. Recolección de información </h1>

    <p> Como primer paso, es importante recolectar la información pertinente
      que permite diligenciar la ficha técnica de procedimiento:
    </p>

    <section class="mt-4 ml-6 text-grande">
      <h1 class="text-xl font-bold text-gray-800 mb-2"> 1.1 Revisión Documental
      </h1>
      <p class="mb-4 ">
        La Universidad cuenta con documentos oficiales, en los cuales
        encontramos información de referencia sobre las funciones,
        actividades, planes y estrategias de las dependencias. Estos
        documentos son:
      </p>
    </section>

    <section class="mt-4 ml-4 text-grande">
      <ul class="list-[square] list-inside space-y-1">
        @for (doc of datosService.documentos; track doc.titulo) {
        <li class="list-[circle]">
          <a [href]="doc.url" target="_blank" rel="noopener noreferrer"
            class="no-underline font-medium text-azul-oscuro hover:no-underline hover:text-blue-600">
            {{ doc.titulo }}
          </a>
        </li>
        }
      </ul>
    </section>

    <section class="mt-4 ml-4 text-grande">
      <h2 class="text-xl font-bold text-gray-800 mb-2">1.2. Entrevista</h2>
      <p class="mb-2 text-med">
        De ser necesario, se recomienda realizar entrevistas a las
        personas que participan en la ejecución del procedimiento, a fin
        de identificar la forma en que se lleva a cabo y los soportes
        con que se cuenta en el momento. Se adjunta el formato de entrevista:
      </p>
      <a href="enlace-para-formato-de-entrevista" target="_blank" rel="noopener noreferrer"
        class="no-underline font-medium text-azul-oscuro hover:text-blue-600 hover:no-underline">
        Formato de Entrevista</a>
    </section>

    <section class="mt-4 ml-4 text-grande">
      <h2 class="text-xl font-bold text-gray-800 mb-2">1.3. Observación directa</h2>
      <p class="mb-2">Es posible también, hacer una Observación directa de
        la manera en que se realiza el procedimiento dentro de la
        facultad para una mayor obtención de la información. La información que se recolecte con las actividades
        anteriores es
        pertinente para diligenciar la siguiente ficha técnica de procedimiento:</p>
    </section>

    <h1 class="text-xl font-bold text-gray-800 mt-4 mb-2"> 2. Organización de información </h1>

    <section class="mt-4 ml-4 text-grande">
      <h2 class="text-xl font-bold text-gray-800 mt-4 mb-2"> 2.1 Ficha técnica de procedimiento </h2>
      <p> Esta ficha técnica describe los elementos constitutivos del procedimiento: </p>
      <h6 class="text-xl text-center"><strong> Tabla 1: </strong> Ficha técnica de procedimiento</h6>

      <app-tabla-criterios [columnas]="datosService.encabezadoFichaTecnica"
        [filas]="datosService.tablaFichaTecnica"></app-tabla-criterios>

      <!-- Tabla de Criterios -->
      <h6 class="text-xl text-center"> <strong>Tabla 2:</strong> Descripción de
        criterios para definir el estado de un procedimiento </h6>
      <app-tabla-criterios [columnas]="datosService.encabezadoCriterios" [filas]="datosService.tablaCriterios">
      </app-tabla-criterios>

      <!-- Tabla Clasificacion de estados -->
      <app-tabla-estados></app-tabla-estados>

    </section>

    <div>
      <app-navegacion [rutaAnterior]="'/acercadeestandarizacion'" [rutaSiguiente]="'/identificacionrequerimientos'">
      </app-navegacion>
    </div>
  </div>
</div>