<div class="p-2 bg-white animate-fade-in">
  <div class="text-med bg-azul-oscuro font-medium text-white p-2 border rounded-md mb-2 uppercase px-2">
    2. Recolección de información
  </div>
  <div class="text-grande border border-gray-200 rounded-md p-4">
    <p> <strong class="text-xl ">Nota:</strong> se recomienda utilizar los
      siguientes
      mecanismos de información
    </p>
    <h1 class="text-xl font-bold text-gray-800 mb-2"> Revisión Documental
    </h1>
    <p class="mb-4 ">
      La Universidad cuenta con documentos oficiales, en los cuales
      encontramos información de referencia sobre las funciones,
      actividades, planes y estrategias de las dependencias. Estos
      documentos son:
    </p>
    <section>
      <ul class="list-[square] list-inside space-y-1 mb-6 ml-4">
        @for (doc of datosService.documentos; track doc.titulo) {
        <li>
          <a [href]="doc.url" target="_blank" rel="noopener noreferrer"
            class="no-underline font-medium text-azul-oscuro hover:no-underline hover:text-blue-600">
            {{ doc.titulo }}
          </a>
        </li>
        }
      </ul>
    </section>

    <section class="mt-4 text-grande">
      <h2 class="text-xl font-bold text-gray-800 mb-2"> Entrevista</h2>
      <p class="mb-2">
        De ser necesario, se recomienda realizar entrevistas a las
        personas que participan en la ejecución del procedimiento, a fin
        de identificar la forma en que se lleva a cabo y los soportes
        con que se cuenta en el momento.
      </p>
      <p> Se adjunta el formato de entrevista:
        <a href="enlace-para-formato-de-entrevista" target="_blank" rel="noopener noreferrer"
          class="no-underline font-medium text-azul-oscuro hover:text-blue-600 hover:underline">Formato
          de
          Entrevista</a>
      </p>
    </section>
    <!--Tabla Descripción de criterios -->
    <section class="mt-4 text-grande">
      <h2 class="text-xl font-bold text-gray-800 mb-2"> Observación
        directa</h2>
      <p class="mb-2">Es posible también, hacer una Observación directa de
        la manera en que se realiza el procedimiento dentro de la
        facultad para una mayor obtención de la información;
        la información que se recolecte con las actividades anteriores es
        pertinente para diligenciar la siguiente ficha de procedimiento.
      </p>

      <h2 class="text-xl font-bold text-gray-800 mt-6 mb-2"> Ficha técnica
        de
        procedimiento </h2>
      <p> Como primer paso, es importante recolectar la información pertinente
        que permite diligenciar la ficha técnica de procedimiento, esta ficha
        describe los elementos
        constitutivos del procedimiento:
      </p>

      <h6 class="text-xl text-center"><strong> Tabla 1: </strong> Ficha
        técnica
        de procedimiento</h6>

      <app-tabla-criterios [columnas]="datosService.encabezadoFichaTecnica"
        [filas]="datosService.tablaFichaTecnica"></app-tabla-criterios>

      <!-- Tabla de Criterios -->
      <h6 class="text-xl text-center"> <strong>Tabla 2:</strong> Descripción de
        criterios para definir el estado de un procedimiento </h6>
      <app-tabla-criterios [columnas]="datosService.encabezadoCriterios" [filas]="datosService.tablaCriterios">
      </app-tabla-criterios>

      <!-- Tabla Clasificacion de estados -->
      <app-tabla-estados></app-tabla-estados>

      <!-- <h2 class="text-grande font-bold text-gray-800 mt-4 lowercase">
          Identificar qué requerimientos se necesitan para que el
          procedimiento se encuentre en estado completo </h2> -->

      <!-- <p class="text-med mb-2">Teniendo en cuenta el estado actual del
          procedimiento a estandarizar, es necesario
          identificar cuáles de los siguientes requerimientos hacen falta
          para que dicho procedimiento pase a un estado completo. De acuerdo con la Tabla 3. Clasificación
          de estado de procedimientos, Un estado completo hace referencia al
          procedimiento que:</p>
          <ul class="list list-inside space-y-1 mb-6 ml-4">
            <li> Se encuentra documentado. </li>
            <li> Cuenta con soporte computacional de ser necesario.</li>
            <li> Se encuentra reglamentado institucionalmente.</li>
          </ul>
    -->

    </section>

    <div>
      <app-navegacion [rutaAnterior]="'/acercadeestandarizacion'" [rutaSiguiente]="'/identificacionrequerimientos'">
      </app-navegacion>
    </div>
  </div>
</div>