<div class="overflow-x-auto mx-auto">
    <!-- Encabezado general -->
    @if (encabezadoGeneral) {
    <div
        class="flex w-full gap-2 p-2 bg-encabezado-tabla text-white text-med font-semibold">
        <img src="assets/simbolos/lista.svg" alt="" class="ml-2 w-4 h-4" >
        {{ encabezadoGeneral }}
    </div>
    }

    <!-- Encabezado por columnas -->
    @else if (columns && columns.length > 0) {
    @for (col of columns; track col.label) {
    <div
        class="p-1 w-full flex gap-2 bg-encabezado-tabla text-white text-med font-semibold">
        <img src="assets/simbolos/lista.svg" alt="" class=" ml-2 w-4 h-4" >
        Lista de {{ col.label }}
    </div>
    }
    }
    <table
        class="w-full table-fixed mx-auto border border-gray-300 text-center text-peq border-collapse">
        <thead>
            <tr>
                @for (col of columns; track col.key) {
                <th
                    class="bg-white p-1 text-center upperlowercase tracking-wider border border-gray-600 font-semibold text-black w-[150px]">
                    {{ col.label }}
                </th>
                }
                <th
                    class="bg-white p-1 text-center upperlowercase tracking-wider border border-gray-600 font-semibold text-black w-[100px]">
                    Opciones
                </th>
            </tr>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200">
            @for (dato of data; track $index) {
            <tr class="hover:bg-gray-100">
                @for (nombre of columns; track nombre.key) {
                <td
                    class="px-1 py-2 border border-gray-300 text-center align-top whitespace-normal break-words">
                    {{ dato[nombre.key] }}
                </td>
                }
                <td
                    class="border border-gray-300 p-2 m-2 text-center align-middle">
                    @if (accionesTemplate; as template) {
                    <ng-container
                        *ngTemplateOutlet="template; context: { $implicit: dato }"></ng-container>
                    }
                    @else {
                    <button (click)="eliminar.emit(dato)">
                        <img src="assets/simbolos/eliminar.svg" alt="Eliminar" class=" hover:brightness-120 w-4 h-4">
                    </button>
                    <button (click)="editar.emit(dato)">
                        <img src="assets/simbolos/editar.svg" alt="Editar" class=" hover:brightness-120 w-4 h-4">
                    </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
