<div class="w-full h-screen">
    <iframe #drawioFrame id="drawioFrame" class="w-full h-full border-0" allow="fullscreen"
        sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-modals allow-downloads allow-top-navigation-by-user-activation"
        src="https://embed.diagrams.net/?embed=1&proto=json&spin=1&ui=min">
    </iframe>
</div>


<!-- src="https://embed.diagrams.net/?embed=1&proto=json&spin=1&ui=min" -->
<!-- src="https://embed.diagrams.net/?embed=1&proto=json&spin=1&ui=atlas" -->
<!-- src="https://embed.diagrams.net/?embed=1&ui=min&proto=json&spin=1&configure=1" -->