<div>
    <div class="font-sans text-gray-800 bg-white bor p-1 m-1">
        <div
            class="mb-2 space-x-0.5 min-h-screen bg-white text-med px-1 py-1 rounded-lg shadow-sm max-w-screen mx-auto">
            <div
                class="bg-azul-oscuro text-white p-2 border-2 text-right m-2 uperlowercase rounded-sm">
                Estandarización de procedimientos
            </div>
            <div
                class="grid grid-cols-2 sm:grid-cols-4 gap-4 bg-white/80 border border-gray-300 rounded-lg p-4 m-2">
                @for (estado of estados; track estado; let i = $index) {
                <div
                    class="flex flex-col items-center gap-2 group transition-transform hover:scale-102">

                    <!-- Botón -->
                    <button
                        class="w-full h-24 flex flex-col items-center justify-center rounded-xl border border-gray-700 transition-all duration-200 ease-in-out hover:shadow-sm shadow-gray-400 hover:scale-[1.05]
                        hover:bg-gradient-to-r from-green-700 to-green-800 hover:text-white m-2"
                        [ngClass]="[(hoverIndex === i) ? 'shadow-sm ring-2 scale-105 bg-gradient-to-r from-green-700 to-green-800 text-white border border-gray-400' : 'border border-gray-500',
                         (buttonIndex === i) ? ' inset-shadow-sm inset-shadow-gray-300':'border border-gray-500',
                         estadoCompletos[i] ? 'bg-gradient-to-r from-green-700 to-green-800 text-white border border-gray-500 shadow shadow-gray-400' : 'border border-gray-500' ]"
                        (click)="onButtonClick(i)">
                        <span class="text-lg font-semibold">
                            {{ i + 1 }}
                        </span>
                        <h6 class="leading-tight text-center mt-1">
                            {{ estado }}
                        </h6>
                    </button>

                    <!-- Card cuando el estado está activo -->
                    @if (buttonIndex === i) {
                    <div class="w-full flex justify-center">
                        <div
                            class="w-[400px] bg-amber-50 rounded transition-all duration-200">
                            <app-card [indice]="i"
                                (estadoCompleto)="onEstadoCompleto($event)" />
                        </div>
                    </div>
                    }
                </div>
                }
            </div>
            <!-- Sección dinámica -->
            <div
                class="bg-white/80 border-1 border-gray-300 rounded-lg p-1 m-1">
                @switch (buttonIndex) {
                @case (0) {
                <app-unificacion-criterios></app-unificacion-criterios>
                }
                @case (1) {
                <app-documentacion-soporte></app-documentacion-soporte>
                }
                @case (2) {
                <app-soporte-computacional></app-soporte-computacional>
                }
                @case (3) {
                <app-reglamento></app-reglamento>
                }
                @default {
                <app-inicio></app-inicio>
                }
                }
            </div>
        </div>
    </div>
</div>
