<div class="font-sans text-gray-800 bg-white p-1 ">
  <!-- Título superior -->
  <div
    class="mb-2  bg-white text-med py-2 px-3 rounded-xl shadow-sm max-w-screen mx-auto">
    <div
      class="bg-azul-oscuro font-medium text-white p-2 border-2 rounded mb-2 uppercase">
      4. Socialización de procedimientos</div>

    <!-- Modal de lista desplegable  -->
    <app-lista-desplegable
      [visible]="abrir"
      [items]="procedimientos"
      (cerrar)="cerrarModal()"
      (guardar)="onSocializar($event)">
    </app-lista-desplegable>

    @if (procedimientoSeleccionado) {
    <h4 class="font-normal"> <strong>Procedimiento:</strong>
      {{procedimientoSeleccionado.Procedimiento}}</h4>

    <!-- tabla de procedimiento  -->
    @if (procedimientoSeleccionado) {
    <h3 class=" text-grande font-bold m-3 text-center justify-center"> Ficha
      Tecnica del Procedimiento </h3>
    <app-tabla-criterios
      [columnas]="datosTablaService.encabezadoFichaTecnica"
      [filas]="filasProcedimiento">
    </app-tabla-criterios>
    }

    <div class="px-4">
      <!-- Mostrar el formulario DAAC -->
      <h3 class=" text-grande font-bold m-3 text-center justify-center">
        Formulario DAAC</h3>
      <app-tabla-criterios
        [columnas]="datosTablaService.DescripcionDAAC"
        [filas]="datosDAAC">
      </app-tabla-criterios>

      <!-- Documento base -->
      <h3 class="text-grande font-bold m-3 text-center justify-center">Documento Base</h3>

      <!-- Mostrar Diagrama de flujo -->
      <h3 class="text-grande font-bold m-3 text-center justify-center"> Diagrama
         de Flujo procedimiento {{procedimientoSeleccionado.Procedimiento}}</h3>
      @if (imagenDiagrama) {
      <img [src]="imagenDiagrama"
        alt="Diagrama de flujo de procedimiento {{procedimientoSeleccionado.Procedimiento}}"
        class="max-w-full mx-auto  " />
      } @else {
      <p class="text-gray-500 italic">el procedimiento no tiene un diagrama de
        flujo creado</p>
      }

      <!-- Sorporte documental -->
      <h3 class="text-grande font-bold m-3 text-center justify-center">Soporte
        Computacional</h3>
      <!-- Muestra los datos guardados -->
      @if(soporteComputacional){
      <div
        class=" flex flex-1 w-1/2 text-center items-center justify-center borde rounded-lg border-gray-100 p-3 shadow-sm m-3 ">
        <ul class="list-disc list-inside text-gray-700">
          <li><strong>¿Cuenta con soporte?:</strong> {{
            soporteComputacional.respuesta1 }}</li>
          @if (soporteComputacional.detalle1) {
          <li><strong>Nombre del soporte:</strong> {{
            soporteComputacional.detalle1 }}</li>
          <li><strong>Descripción:</strong> {{ soporteComputacional.detalle2
            }}</li>
          }
          @if (soporteComputacional.respuesta2) {
          <li><strong>¿Requiere soporte?:</strong> {{
            soporteComputacional.respuesta2 }}</li>
          }
        </ul>
      </div>
      } @else(){
      <p class="text-gray-500 italic">el procedimiento no tiene un soporte
        computacional registrado</p>

      }

      <ng-template #sinSoporte>
        <p class="italic text-gray-500 m-3">Aún no se ha registrado información
          de soporte computacional.</p>
      </ng-template>

      <!-- Encabezado del procedimiento -->
      <h2 class="text-xl font-semibold text-azul-fondo m-3"> Formato de
        Estandarización </h2>
      <ul class="list-disc list-inside text-blue-600">
        <li><a href="#" class="hover:underline">Descargar Procedimiento
            PDF</a></li>
      </ul>

    </div>

    <!-- Registro de socialización -->
    <h1 class="text-xl font-semibold text-gray-800 mb-2"> Registro de
      socialización</h1>
    <div class="p-4">

      @if (!socializado) {
      <form (ngSubmit)="registrarSocializacion()"
        class="flex flex-col md:flex-row items-center gap-2">
        <label for> Fecha: </label>
        <input [(ngModel)]="fecha" name="fecha" type="date"
          placeholder="fecha"
          class="p-2 rounded border w-full md:w-1/3" required>
        <label for> Hora: </label>
        <input [(ngModel)]="lugar" name="hora" type="time"
          placeholder="hora"
          class="p-2 rounded border w-full md:w-1/3" required>
        <label for> Lugar: </label>
        <input [(ngModel)]="lugar" name="lugar" type="text"
          placeholder="lugar"
          class="p-2 rounded border w-full md:w-1/3" required>
        <button type="submit"
          class="bg-green-700 text-white px-4 py-2 rounded hover:bg-green-500">Registrar</button>
      </form>
      }
    </div>
    <div>
      <app-navegacion
        [rutaAnterior]="'/recoleccioninformacion'"
        [rutaSiguiente]="'/socializacionprocedimientos'"
        (siguiente)="abrirListaSocializacion()">
      </app-navegacion>
    </div>
    }
  </div>
</div>
